@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='3000' height='2000' preserveAspectRatio='none' viewBox='0 0 3000 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1034%26quot%3b)' fill='none'%3e%3crect width='3000' height='2000' x='0' y='0' fill='url(%23SvgjsLinearGradient1035)'%3e%3c/rect%3e%3cpath d='M358.14155772969-91.36690923742053L6.62786337768506-134.52736384978923-36.53259123468365 216.9863305022157 314.9811031173213 260.1467851145844z' fill='rgba(255%2c 255%2c 255%2c 0.2)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M26.970492415641687 1072.1299442827853L320.7390218503049 1561.0428803811792 809.6519579486989 1267.274350946516 515.8834285140356 778.3614148481222z' fill='rgba(255%2c 255%2c 255%2c 0.2)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1754.5569559008363 1216.1061284174264L1433.036647600008 1232.9562937698715 1449.8868129524533 1554.4766020707 1771.4071212532815 1537.6264367182548z' fill='rgba(255%2c 255%2c 255%2c 0.2)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M2652.6483335727985 2297.7757640760933L3046.071683525502 1875.8808737937234 2624.176793243132 1482.4575238410198 2230.7534432904285 1904.3524141233897z' fill='rgba(255%2c 255%2c 255%2c 0.2)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1492.6848345451663 242.9163475037953L1161.0864194181036 574.5147626308581 1492.6848345451663 906.1131777579208 1824.283249672229 574.5147626308581z' fill='rgba(255%2c 255%2c 255%2c 0.2)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1034'%3e%3crect width='3000' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='8.33%25' y1='112.5%25' x2='91.67%25' y2='-12.5%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1035'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  overflow: -moz-hidden-unscrollable;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: 0px 0px 0px 0px;
}

a {
  text-decoration: none;
}
button {
  background: linear-gradient(#21a0a0, #11b5e4);
  border: 0px solid white;
  color: #ffffff;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
  transition: .2s ease-in-out;
  box-shadow: 2.5px 2.5px 0 white, -2.5px -2.5px 0 white, -2.5px 2.5px 0 white,
    2.5px -2.5px 0 white;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

button:hover {
  cursor: pointer;
  box-shadow: 20px 5px 0 white, -20px -5px 0 white;
}

input {
  background: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}

textarea {
  background: none;
  border: 1px solid #ffffff;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}
