.Outer-Div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.Inner-Div {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 300px;
  align-items: center;
  justify-content: space-between;
  background-color: none;
  color: #000000;
}

.image-div {
  background: url("../arpit.png");
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-color: #a4bab7;
  border: 2px solid #ffffff;
  margin: 20px;
  filter: grayscale(70%);
  transform: scale(0.8);
  transition: all 0.5s ease-in;
}

.image-div:hover {
  filter: none;
  transform: scale(1.1);
  border-radius: 5px;
}

.info {
  color: #ffffff;
}

.Rotate {
  border-radius: 50%;
  -webkit-animation: rotate-center 20s linear infinite both;
  animation: rotate-center 20s linear infinite both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
