.Outer-Div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 100px 0 100px 0;
  min-height: 80vh;
}

.Inner-Div {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 300px;
  align-items: center;
  justify-content: space-between;
  background-color: none;
  color: #000000;
}

.image-div {
  background: url("../arpit.png");
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-color: #a4bab7;
  border: 2px solid #ffffff;
  margin: 20px;
  filter: grayscale(70%);
  transform: scale(0.8);
  transition: all 0.5s ease-in;
}

.image-div:hover {
  filter: none;
  transform: scale(1.1);
  border-radius: 5px;
}

.info {
  color: #ffffff;
  margin-bottom: 60px;
  text-align: justify;
}

